.logon-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logon-container section {
    width: 1120px;
    height: 580px;
    padding: 100px;
    background-color: f0f0f5;
    box-shadow: 0 0 100px #b7b7bb;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logon-container form {
    width: 400px;
}

.logon-container form h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

a.donner {
    margin-top: 15px;
}